@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,40,230,1) 0%, rgba(0,150,230,1) 90%);
}